{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">  
            <h3>Ubah: {{ buku.judul }}</h3>   

            {% for pesan in messages %}
                {% if pesan %}
                    <div class="alert alert-success">{{ pesan }}</div>
                {% endif %}
            {% endfor %}

            {% comment %} multipart form untuk submit file image {% endcomment %}
            <form action="{% url 'ubah_buku' buku.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}

            <button class="btn btn-primary">Tambah Buku</button>
            <a href="/buku" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}